<!DOCTYPE html> <!-- error message -->
<html lang="en">
<head>
  <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"

    /> 
    <link rel="stylesheet" href="/static/styles/styles.css">
    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />  
    <title>Error</title>
    </head>
    <body>
    <div class="container-Error"> <!-- error message -->
        <div class="container">
            <h2 class="mb-4 mt-5">Error</h2>
            <p class="mb-4">
                {{error}}
            </p>
        

            
            
        <!-- button to return to the Log-in.html -->    
            <button
                type="submit"
                class="btn btn-dark mb-3 mt-2"
                style="width: 100%"
                onclick="window.location.href='/'"
                
            >
                Volver
            
            </button>
            <!--set a background image  --> 

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://static.nationalgeographic.es/files/styles/image_3200/public/01-waq-wildlife-std-NationalGeographic_2682117.jpg?w=1600&h=900" alt="error" class="img-fluid">
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    </body>

            
</html>